@page "/courses/create"
@inject SMS.CimContext DB
@using SMS.Models
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Course" OnValidSubmit="AddCourse" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="cid" class="form-label">CID:</label> 
                <InputNumber id="cid" @bind-Value="Course.CID" class="form-control" /> 
                <ValidationMessage For="() => Course.CID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Course.Name" class="form-control" /> 
                <ValidationMessage For="() => Course.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="credits" class="form-label">Credits:</label> 
                <InputNumber id="credits" @bind-Value="Course.Credits" class="form-control" /> 
                <ValidationMessage For="() => Course.Credits" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Course.Description" class="form-control" /> 
                <ValidationMessage For="() => Course.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="status" class="form-label">Status:</label> 
                <InputCheckbox id="status" @bind-Value="Course.Status" class="form-check-input" /> 
                <ValidationMessage For="() => Course.Status" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/courses">Back to List</a>
</div>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; } = default!;
    private string currentUser = string.Empty;

    [SupplyParameterFromForm]
    public Course Course { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddCourse()
    {
        currentUser = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "currentUser") ?? string.Empty;
        if (!string.IsNullOrEmpty(currentUser))
        {
            Course.CreateUser = currentUser;
            Course.UpdateUser = currentUser;
        }
        DB.SMS_Courses.Add(Course);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/courses");
    }
}
