@using SMS.Components.Layout
@inherits LayoutComponentBase
@namespace SMS.Components.Layout

<div class="auth-layout bg-light min-vh-100">
    <main class="container-fluid">
        @Body
    </main>
</div>


