@page "/students"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject SMS.CimContext DB
@using SMS.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="students/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.SMS_Students">
    <PropertyColumn Property="student => student.SID" />
    <PropertyColumn Property="student => student.Name" />
    <PropertyColumn Property="student => student.Age" />
    <PropertyColumn Property="student => student.Major" />
    <PropertyColumn Property="student => student.Email" />

    <TemplateColumn Context="student">
        <a href="@($"students/edit?id={student.Id}")">Edit</a> |
        <a href="@($"students/details?id={student.Id}")">Details</a> |
        <a href="@($"students/delete?id={student.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
